<!DOCTYPE html>
<html lang="en">
   <head>
      <title>OurMusicHub - Share and Find Music!</title>
      <% include ../shared/head %>
   </head>
   <body>
      <header>
         <% include ../shared/header %>
      </header>

      <!-- PAGE CONTENT GOES HERE -->

      <footer>
         <% include ../shared/footer %>
      </footer>
      <!-- Footer Section -->
   </body>
</html>
